[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.5"
django-ipware = "*"
geoip2 = "*"
channels = "*"
channels-redis = "*"

[dev-packages]
flake8 = "*"
black = "==18.9b0"
pylint = "*"

[requires]
python_version = "3.9"
