
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;

.font-sans-kr { font-family: "Noto Sans KR", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; }

.font-body {font-family: 'Anton', sans-serif;}

.font-dohyun {font-family: 'Do Hyeon', sans-serif;}

.font-nanum {font-family: 'Nanum Pen Script', cursive;}

.font-nanum-gothic {font-family: 'Nanum Gothic', sans-serif;}
@tailwind components;

.nav_link{
    @apply mx-8 border-b-4 border-white h-full flex items-center duration-500;
    a {
        @apply py-10 px-5;
    }

    &:hover {
        @apply border-yellow-400 animate-pulse;
    }
};


.profile_link{
    @apply ml-8 border-white h-full flex items-center;
    a {
        @apply py-10 px-5;
    }

    &:hover {
        @apply animate-pulse;
    }
};



.btn{
    @apply w-full text-center rounded-2xl py-5 font-light text-lg;
}

input{
    @apply rounded-2xl py-5 font-light text-lg w-full text-left border border-gray-600 px-5 focus:outline-none focus:border-green-500;
};

select {
    @apply rounded-2xl py-5 font-light text-lg w-full text-left border border-gray-600 px-5 focus:outline-none focus:border-green-500;
}

@tailwind utilities;
