{% extends "base.html" %}
{% load humanize %}
{% load pagetags %}
{% block page_title %}
{{purchase.title}}
{% endblock page_title %}

{% block content %}

<div class="container mx-auto h-50vh max-w-full mb-20">
   {% include 'mixins/slider.html' with photos=purchase.photos.all %}
</div>

<div class="container mx-auto rounded-xl w-2/3 border">
 

    <div class="items-center flex flex-row mx-auto my-10">
        <div class="duration-500 container flex align-middle w-2/3 h-22 ml-3 p-2 hover:bg-gray-100 rounded-xl hover:shadow-md">
            <div class="container flex flex-row">
                <div class="text-center font-medium text-xl mr-3">
                    <a href="{{purchase.host.get_absolute_url}}">    
                        {% include "mixins/avatar_thumbnail.html" with user=purchase.host h_and_w='w-12 h-12' %}
                    </a>
                </div>
                <div class="mt-1">
                    <div class="mr-3 text-lg mb-1">
                        {{purchase.host.username}}
                    </div>
                    <div class="mt-1 text-md text-gray-400">
                        총 {{purchase.host.purchase.count}}개의 게시글
                    </div>
                
                </div>
              
            </div>
            <div class="w-1/3 text-left my-auto">
                <a href="{% url 'alarms:message' purchase.host.pk %}">
                    <span class="w-1/2 py-2 px-4 h-full duration-500 text-yellow-500 text-md hover:bg-gray-300 rounded-md">메시지</span>
                </a>
            </div>
        </div>
        <div class="container text-md text-right mr-5">
            {% if purchase.status == "기간 만료" %}
                <span class="bg-black text-white rounded-md py-2 px-3 mr-2">{{purchase.status}}</span>
            {% elif purchase.status == "모집 완료" %}
                <span class="bg-yellow-500 text-white rounded-md py-2 px-3 mr-2">{{purchase.status}}</span>
            {% elif purchase.status == "거래 완료" %}
                <span class="bg-gray-600 text-white rounded-md py-2 px-3 mr-2">{{purchase.status}}</span>
            {% endif %}

            <span class="duration-500 border rounded-md border-black text-black py-2 px-3 mr-2">
                {{purchase.dong}}
            </span>
            <span class="duration-500 border rounded-md border-black  py-2 px-3">
                {{purchase.category}}
            </span>
            <span class="text-red-300 px-3 text-center py-1 text-lg">
                {% if purchase.host == request.user %}
                    <a href="{% url 'purchases:delete' pk=purchase.pk %}?next={{request.path}}"><i class="fas fa-trash-alt right-0"></a></i>
                {% endif %}
            </span>
            <span class="text-gray-400 pr-3 text-center py-1 text-lg">
                {% if purchase.host == request.user %}
                    <a href="{% url 'purchases:material-edit' pk=purchase.pk %}"><i class="fas fa-edit right-0"></a></i>
                {% endif %}
            </span>
        </div>
    </div>
    <div class="container border-b border-t">
        <div class="text-center font-medium text-2xl mt-10 mb-5">
            [ {{purchase.title}} ]
        </div>
        <div class="text-right mr-10 my-5">
            {{purchase.created|date:'y년 m월 d일'}}
        </div>
        <div class="text-center text-lg mb-10 w-1/2 mx-auto">
            {{purchase.explain}}
        </div>
    </div>
 
    <div class="container w-11/12 mx-auto">
  
        <div class="container w-full flex h-full border rounded-lg border-gray-100 shadow-md bg-gray-100 text-lg py-10 my-10 text-center">
            <div class="ml-2 container w-1/3">
                <div class="container mx-auto w-44 h-44 border bg-cover bg-center rounded-lg m-2" {% if purchase.host.qr_code %}style="background-image: url({{purchase.host.qr_code.url}});"{% endif %}></div>
                <div>총 {{purchase.price | intcomma}}원</div>
            </div>
            <div class="container w-1/2 mt-2 text-left ml-5">
                <div class="text-xl font-medium text-center pb-2 border-b border-black mb-5">
                    공동구매 정보
                </div>

                <div class="mb-5">
                    <span class="text-black">1인당 지불:</span> {{purchase.price_per_person | intcomma}}원
                </div>
                <div class="mb-5">
                    <span class="text-black">{{purchase.unit}} =></span>  {{purchase.max_people}}명이서 분배
                </div>
                <div class="mb-5">
                    <span class="text-red-400">상품 링크:</span> {{purchase.link_address}}
                </div>
                <div class="mb-5 border-t pt-4">
                    <span class="text-red-400 font-semibold">모집 현황:</span> {{purchase.participants.count}} / {{purchase.max_people}}
                </div>
          
            
            </div>
        </div>
        <div class="container w-1/4 rounded-md border-black mx-auto mb-10">
            {% if purchase.participants.count >= purchase.max_people or purchase.status != "진행 중" %}
                <div class="w-full text-center mb-5">
                    <span class="text-lg">
                        마감 되었습니다.
                    </span>
                </div>
            {% elif purchase.host.pk == request.user.pk and purchase.status != "거래 완료" %} 
                <a href="{% url 'purchases:material-close' purchase.pk %}">
                    <button class="border w-full h-16 rounded-md border-black mb-6 hover:bg-yellow-300 duration-500">
                        거래 마감 하기
                    </button>
                </a>
            {% elif isIncluded is False or purchase.participants.count == 0 %} 
                <a href="{% url 'purchases:material-attend' purchase.pk %}">
                    <button class="border w-full h-16 rounded-md border-black mb-6 bg-yellow-300 hover:bg-yellow-50">
                        참여
                    </button>
                </a>
            {% elif isIncluded is True %}
                <a href="{% url 'purchases:material-delete' purchase.pk %}">
                    <button class="border w-full h-16 rounded-md border-black mt-5">
                        취소
                    </button>
                </a>
            {% endif %}
        </div>
        <div class="my-3 h-5 relative max-w-full rounded-full overflow-hidden text-right">
            <div class="w-full h-full bg-gray-200 absolute"></div>
            
            <div class="h-full bg-gradient-to-r from-yellow-400 via-pink-500 to-red-500 absolute animate-pulse" style="width:{{purchase.ratio}}%"></div>
            <span class="ml-2 w-1/2 h-10 text-sm text-right animate-pulse mr-3">{{purchase.participants.count}}/{{purchase.max_people}}</span>
        </div>    
    </div>
</div>

<div class="container mx-auto w-2/3 my-10">
    <div class="container flex my-5 w-full mx-auto border-b">
        <div class="flex ml-3 mr-5">
            <a href="{{comment.writer.get_absolute_url}}">    
                {% include "mixins/avatar_thumbnail.html" with user=request.user %}
            </a>
        </div>
        <div class="mb-5 w-full">
            <form method="POST" class="w-full h-28 flex text-md"  enctype="multipart/form-data">
                {% csrf_token %}
            
                {% for field in form %}
                    {{field}}
                {% endfor %}
            
                <button class="mx-5 border rounded-xl w-1/4 bg-red-500 text-white">등록</button>
            </form>
        </div>
    </div>
    <div class="">
        {% sort_comment purchase.comment.all as comments %}
        {% for comment in comments %}

        <div class="flex my-3 ml-3 ">
            <div class="container flex">
                <a href="{{comment.writer.get_absolute_url}}">    
                    {% include "mixins/avatar_thumbnail.html" with user=comment.writer %}
                </a>
                <div class="mt-3 ml-3">
                    {{comment.writer}}
                </div>
                <span class="mt-3 ml-3 text-red-300"> 
                    {% if comment.writer == request.user %}
                    <a href="{% url 'comments:delete' pk=comment.pk %}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    {% endif %}
                </span>
    
            </div>
            <div class="container mt-3 mr-5 text-sm text-right">
                {{comment.created |date:'y년 m월 d일'}}
            </div>

        </div>
        <div class="w-11/12 h-16 ml-16 pt-2 pl-3 text-sm mb-5 bg-gray-200 rounded-2xl">
            {{comment.context}}
        </div>
     

        <div class="border-b py-3">

        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}