{% extends "base.html" %}

{% block page_title %}
{{purchase.title}}
{% endblock page_title %}

{% block content %}

<div class="container mx-auto h-50vh max-w-full mb-20">
    {% include 'mixins/slider.html' with photos=purchase.photos.all %}
</div>

<div class="container mx-auto ">
    <div class="border-b mb-10">

    </div>

    <div class="items-center flex flex-row mx-auto mb-10">
        
            <div class="text-center font-medium text-2xl mr-3">
                {% include "mixins/avatar_thumbnail.html" with user=purchase.host h_and_w='w-10 h-10' %}
            
            </div>
            <div class="mr-3">
                {{purchase.host.username}}
            </div>
            <div>
                {{purchase.created|date:'F Y'}}
            </div>
    </div>
    <div class="text-center font-medium text-2xl mb-5">
        [ {{purchase.title}} ]
    </div>
    <div class="text-center">
        {{purchase.explain}}
    </div>

    <div class="text-center font-light">
        총 가격: {{purchase.price}}원
    </div>
</div>

{% endblock content %}