{% load static %}

    <ul class="flex items-center text-sm font-medium h-full">
            {% if user.is_authenticated %}
                <li class="nav_link font-sans-kr">
                    <a href="{% url 'users:verify' %}">Location Verify</a>
                </li>
    
                <li class="nav_link font-sans-kr">
                    <a href="{% url 'users:logout' %}">Logout</a>
                </li>
                <li class="profile_link font-sans-kr">
                    <a href="{{user.get_absolute_url}}">{% include "mixins/avatar_thumbnail.html" with user=user %}</a>
                </li>
            {% else %}
                <li class="nav_link font-sans-kr">
                    <a href="{% url 'users:login' %}">Login</a>
                </li>

                <li class="nav_link font-sans-kr">
                    <a href="{% url 'users:signup' %}">Sign up</a>
                </li>
            {% endif %}

    </ul>

